// 全局样式

// 全局变量
$global-bg-color-gray: #fafafa;
$global-brd-color-gray: #f0f0f0;
$global-primary-blue: #1890ff;

// margin
@for $i from 0 through 100 {
  .global-mg-#{$i} {
    margin: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-mg-l-#{$i} {
    margin-left: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-mg-r-#{$i} {
    margin-right: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-mg-t-#{$i} {
    margin-top: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-mg-b-#{$i} {
    margin-bottom: 1px * $i;
  }
}

// padding
@for $i from 0 through 100 {
  .global-pd-#{$i} {
    padding: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-pd-l-#{$i} {
    padding-left: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-pd-r-#{$i} {
    padding-right: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-pd-t-#{$i} {
    padding-top: 1px * $i;
  }
}

@for $i from 0 through 100 {
  .global-pd-b-#{$i} {
    padding-bottom: 1px * $i;
  }
}
 